@media screen and (max-width: 768px) {
    .display-none {
        display: none !important;
    }
}

.msg-btn{
    border: none;
    input{
        background-color: transparent;
    }
    &:focus-visible{
        border: none;
    }
}